.data {
    font-family: 'Chewy', cursive;
    text-align: center;
    z-index: 2;
    right: 5%;
}

    .dia {
        display: inline-block;
        font-family: 'Chewy', cursive;
        margin: 0 5px 0 0;
        margin: 0 auto;

    }
    .horas {
        display: inline-block;
        font-family: 'Chewy', cursive;
        margin: 0 5px 0 0;
    }
    .minutos {
        display: inline-block;
        font-family: 'Chewy', cursive;
        margin: 0 5px 0 0;
    }

    .segundos {
        display: inline-block;
    }

.circulo { 
    position:relative; 
	width: 90px;
}

.text { 
    position:absolute; 
    top: 5px;
    right: 2px;
    font-weight: normal;
	width: 90px;
}

.text-dia { 
    position:absolute; 
    top: 5px;
    right: 25px;
    font-weight: normal;
}

    .val {
        font-family: 'Chewy', cursive;
        font-size: 39px;
        font-weight:bold;
        color:#FFF;
        text-align:center;
        margin-top:10px;
        display: block;
    }

    .texto {
        font-family: 'Chewy', cursive;
        color:#fff;
        width:100px;
        text-align:center;
        font-size:15px;
        font-weight:normal;
    }

