* {
	box-sizing: border-box;
}

body {
	background: black;
	min-height: 100%;
}

header {
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}

video {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.5;
}

time {
	text-align: center;
	position: absolute;
	z-index: 2;
	padding: 30px;
	top: 50%;
	right: 4%;
	margin-top: -130px;	
	width: 35%;
}

time h2 {
	font-size: 40px;
	color: white;
	opacity: 0.5;
	margin-bottom: 15px;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: bold;
}

nav {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2;
	width: 100%;
	display: block;
	font-family: "Montserrat";
	text-transform: uppercase;
	font-weight: bold;
}

nav ul {
	padding: 30px;
	background-color: rgba(0,0,0,0.8);
	height: 100%;
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding-right: 40px;
	margin-right: 40px;
	border-right: 4px solid #900000;
}

nav ul li:last-of-type {
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}

nav ul li a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
}

nav ul li a:hover {
	color: #900000;
}

figure {
	width: 300px;
	z-index: 2;
	position: absolute;
	text-align: center;
	opacity: 0.5;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -215px;
}

figure img {
	display: inline-block;
}

.slogan {
    background: url(../img/24h.svg) no-repeat;
    width: 300px;
	margin-left: 20px;
    height: 100px;
	display: inline-block;
}

.video-link {
	border: 2px solid white;
	opacity: 0.5;
	position: absolute;
	top: 35%;
	left: 10%;
	width: 20%;
	z-index: 2;
	transition: transform;
	-webkit-box-shadow: 0 0 20px 1px rgba(0,00,00,0.5);
			box-shadow: 0 0 20px 1px rgba(0,00,00,0.5);
}

.video-link:hover {
	opacity: 1;
	transform: scale(1.1);
}

.video-link img {
	width: 100%;
	height: auto;
}

article {
	background: black;
	padding: 50px;
	position: relative;
	border-bottom: 1px solid #900000;
}

h1 {
	display: block;
	position: relative;
	text-align: left;
}

h1 big {
	color: white;
	font-size: 40px;
	font-family: "Montserrat";
	text-transform: uppercase;
	letter-spacing: -0.05em;
}

h1 small {
	font-family: 'Chewy', cursive;
	color: #900000;
	font-size: 30px;
	display: block;
	transform: rotate(-5deg);
	margin-left: 50px;
	letter-spacing: .1em;
	position: absolute;
	bottom: -20px;
	font-weight: bold;
}

p {
	font-size: 16px;
	font-family: "Montserrat";
	color: white;
	line-height: 1.5em;
	margin: 20px 50% 0 150px;
	text-align: left;
	
}

p:first-of-type {
	margin-top: 50px;
}

.leite {
	background: url(../img/leite.svg) no-repeat;
	 width: 40%;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 30px;
}

.hack {
	background: url(../img/hack.svg) no-repeat;
	width: 40%;
	height: 90%;
	position: absolute;
	bottom: 0;
	right: 30px;
}


#programacao{
	padding: 50px 0; 
}

#programacao h1{
	margin: 0 0 67px 67px;
}

.fotos {
    position: absolute;
    top: 50%;
    margin-top: -200px;
}

#programacao section{
	width: 100%;
    float: left;
    overflow: hidden;
}

#programacao section .itens{
	float: left;
	margin: 3px;
	position: relative;
	overflow: hidden;
}

#equipes {
	text-align: center;
}

#equipes ul {
	width: 19%;
	display: inline-block;
	font-family: "Montserrat";
	text-align: center;
	border: 2px solid white;
	padding: 15px;
	vertical-align: top;
	height: 450px;
}

.listas {
	position: absolute;
	bottom: -10px;
	width: 100%;
	left: 0;
}

#equipes .head {
	color: #900000;
	font-size: 30px;
	margin: 20px 0 30px;
	opacity: 1 !important;
}

.sandro img {
	position: relative;
    left: -310px;
}

#equipes li {
	color: white;
	font-size: 22px;
	margin-bottom: 10px;
}

#equipes li:nth-child(odd) {
	opacity: 0.5;
}

#programacao section .texto {
	position: absolute;
	width: 100%;
    text-align: left;
    padding: 15px;
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
	z-index: 2;
}

.data-programacao{
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	display: block;
}

.data-inicio{
	display: block;
    font-size: 22px;
    color: #fff;
}

#programacao section .texto p{
	margin: 0;
	display: inline-block;
}

#programacao section .itens img{
	width: auto;
    height: 100%;
    min-width: 100%;
}

.itens-pequenos{
	float: left;
	margin-right: 2px;
	overflow: hidden;
}

.altura72{
	height: 95px;
}

.altura75{
	height: 102px;
	margin-bottom: 3px;
}

.altura150{
	height: 200px;
}

.altura306{
	height: 406px;
}


.largura10{
	width: 10%;
}

.largura11-8{
	width: 11.8%;
}
.largura12{
	width: 12%;
}

.largura12-6{
	width: 12.6%;
}

.largura13{
	width: 13%;
	overflow: visible !important;
}

.largura14-6{
	width: 14.6%;
}

.largura15{
	width: 15%;
}

.largura16{
	width: 16%;
}

.largura18{
	width: 18%;
}


.largura23{
	width: 23%;
}

.largura28{
	width: 28%;
}

.largura49{
	width: 49%;
}

.largura50{
	width: 50%;
}

.largura100{
	width: 100%;
}